services:
  osrm:
    image: osrm/osrm-backend
    container_name: osrm
    ports:
      - "5001:5000"
    volumes:
      - ./osrm-data:/data
    command: >
      osrm-routed /data/argentina-251112.osrm
