version: "3.8"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: tpi-keycloak-new
    command:
      - start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      KC_HOSTNAME: localhost
    ports:
      - "8181:8080"
    volumes:
      # Usamos el volumen EXISTENTE que ya contiene tu realm viejo
      - keycloak_data:/opt/keycloak/data

volumes:
  keycloak_data:
    external: true
